<div class="row inscription">
	<h1 class="page-name">Inscription</h1>

	<div class="large-12 columns register-info">
		<!-- Nom -->
		<div class="row reginfo-nom">
			<div class="large-2 columns">
				<label class="right inline">Nom</label>
			</div>
			<div class="large-10 columns">
				<input type="text" placeholder="Nom"></input>
			</div>
		</div>

		<!-- Prenom -->
		<div class="row reginfo-prenom">
			<div class="large-2 columns">
				<label class="right inline">Prénom</label>
			</div>
			<div class="large-10 columns">
				<input type="text" placeholder="Prénom"></input>
			</div>
		</div>

		<!-- Login -->
		<div class="row reginfo-login">
			<div class="large-2 columns">
				<label class="right inline">Login</label>
			</div>
			<div class="large-10 columns">
				<input type="text" placeholder="Login"></input>
			</div>
		</div>

		<!-- Mot de passe -->
		<div class="row reginfo-password">
			<div class="large-2 columns">
				<label class="right inline">Mot de passe</label>
			</div>
			<div class="large-10 columns">
				<input type="password" placeholder="Mot de passe"></input>
			</div>
		</div>

		<!-- Email -->
		<div class="row reginfo-mail">
			<div class="large-2 columns">
				<label class="right inline">Email</label>
			</div>
			<div class="large-10 columns">
				<input type="text" placeholder="Adresse mail"></input>
			</div>
		</div>

		<!-- Téléphone -->
		<div class="row reginfo-tel">
			<div class="large-2 columns">
				<label class="right inline">Téléphone</label>
			</div>
			<div class="large-10 columns">
				<input type="text" placeholder="Téléphone"></input>
			</div>
		</div>

		<!-- Categorie -->
		<div class="row reginfo-categ">
			<div class="large-2 columns">
				<label class="right inline">Fonction</label>
			</div>
			<div class="large-10 columns">
				<select >
					<option value="-1" selected>Fonction</option>
					<option ng-repeat="role in roles">{{role.name}}</option>
				</select>
			</div>
		</div>

		<!-- Cabinet -->
		<div class="row reginfo-cabinet">
			<div class="large-2 columns">
				<label class="right inline">Cabinet</label>
			</div>
			<div class="large-10 columns">
				<select>
					<option value="-1" selected>Pas de cabinet</option>
					<option ng-repeat="cab in cabinets">{{cab.name}}</option>
				</select>
			</div>
		</div>

		<!-- PIN -->
		<div class="row reginfo-pin">
			<div class="large-2 columns">
				<label class="right inline">PIN</label>
			</div>
			<div class="large-10 columns">
				<input class="columns" type="password" placeholder="PIN"></input>
			</div>
		</div>

		<div class="row">
			<div class="large-12 columns">
				<div class="button" id="inr-validate">Valider</a></div>
			</div>
		</div>
	</div>
</div>
