<div ng-controller="useradminController" class="row">
	<h1 class="page-name">{{user.firstname}} {{user.lastname}}</h1>

	<div class="large-12 columns valid-user">
		<div class="row user">
			<div class="large-12 columns">
				<h5>Email : </h5>
				<p>{{user.email}}</p>
				<h5>Téléphone : </h5>
				<p>{{user.phone}}
				<h5>Fonction : </h5>
				<p>{{user.role.text}}</p>
				<h5>Cabinet : </h5>
				<p>{{user.office.text}}</p>
			</div>
		</div>
	</div>

	<div class="responsable-office-user-list" ng-if="user.hasOffice">
			<div class="categ-header">
				<h3>Patients du cabinet</h3>
				<i class="fa fa-chevron-down" ng-click="ui.office.patientsCollapsed = !ui.office.patientsCollapsed"></i>
			</div>
			<table ng-show="!ui.office.patientsCollapsed">
				<thead>
					<tr>
						<td>Nom</td>
						<td>Prenom</td>
						<td>Email</td>
						<td>Telephone</td>
						<td>Date de naissance</td>
						<td>Adresse</td>
						<td>N° INSEE</td>
						<td>INR Cible</td>
						<td>Traitement</td>
						<td>INR Modifié ?</td>
						<td>Modifier</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="usr in office.patients">
						<td>{{usr.lastname}}</td>
						<td>{{usr.firstname}}</td>
						<td>{{usr.email}}</td>
						<td>{{usr.phone}}</td>
						<td>{{usr.address}}</td>
						<td>{{usr.insee}}</td>
						<td>{{usr.targetinr}}</td>
						<td>{{usr.treatment}}</td>
						<td>{{usr.specialinr}}</td>
						<td><a href="#/edituser/{{usr.id}}"><i class="fa fa-edit"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>

	<h2>Gestion du compte</h2>
	<a href="#/changeoffice">Changer de cabinet</a>

	<div class="responsable" ng-if="user.isResponsable">
		<div class="responsable-separator">
			<h2>Gestion du cabinet</h2>
		</div>
		<div class="responsable-office-user-list" ng-if="!user.hasOffice">
			<div class="categ-header">
				<h3>Créér un cabinet</h3>
			</div>
			<form ng-submit="createOffice()">
				<div class="row">
					<div class="large-2 columns">
						<label class="right inline">Nom du cabinet</label>
					</div>
					<div class="large-10 columns">
						<input type="text" placeholder="Nom du cabinet" ng-model="newOffice.name"></input>
					</div>
				</div>

				<div class="row">
					<div class="large-2 columns">
						<label class="right inline">Adresse du cabinet</label>
					</div>
					<div class="large-10 columns">
						<input type="text" placeholder="Adresse" ng-model="newOffice.address"></input>
					</div>
				</div>

				<div class="row">
					<div class="large-2 columns">
						<label class="right inline">Téléphone</label>
					</div>
					<div class="large-10 columns">
						<input type="text" placeholder="Téléphone" ng-model="newOffice.phone"></input>
					</div>
				</div>

				<div class="row">
					<button class="button" type="submit">Créér</button>
				</div>
			</form>
		</div>
		<div class="responsable-office-user-list">
			<div class="categ-header">
				<h3>Membres du cabinet</h3>
				<i class="fa fa-chevron-down" ng-click="ui.office.usersCollapsed = !ui.office.usersCollapsed"></i>
			</div>
			<table ng-show="!ui.office.usersCollapsed">
				<thead>
					<tr>
						<td>Nom</td>
						<td>Prenom</td>
						<td>Email</td>
						<td>Telephone</td>
						<td>Profile</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="usr in office.users">
						<td>{{usr.lastname}}</td>
						<td>{{usr.firstname}}</td>
						<td>{{usr.email}}</td>
						<td>{{usr.phone}}</td>
						<td>{{usr.profile}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="responsable-office-user-list">
			<div class="categ-header">
				<h3>Utilisateurs en attente</h3>
				<i class="fa fa-chevron-down" ng-click="ui.office.usersWaitingCollapsed = !ui.office.usersWaitingCollapsed"></i>
			</div>
			<table ng-show="!ui.office.usersWaitingCollapsed">
				<thead>
					<tr>
						<td>Nom</td>
						<td>Prenom</td>
						<td>Email</td>
						<td>Telephone</td>
						<td>Profile</td>
						<td>Valider</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="usr in office.waiting">
						<td>{{usr.lastname}}</td>
						<td>{{usr.firstname}}</td>
						<td>{{usr.email}}</td>
						<td>{{usr.phone}}</td>
						<td>{{usr.profile}}</td>
						<td><i ng-click="officeAccept({{usr.id}})" class="fa fa-check"></i></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="admin" ng-if="user.isAdmin">
		<div class="admin-separator">
			<h2>Administration</h2>
		</div>
		<div class="admin-user-list">
			<div class="categ-header">
				<h3>Utilisateurs</h3>
				<i class="fa fa-chevron-down" ng-click="ui.admin.usersCollapsed = !ui.admin.usersCollapsed"></i>
			</div>
			<table ng-show="!ui.admin.usersCollapsed">
				<thead>
					<tr>
						<td>Nom</td>
						<td>Prenom</td>
						<td>Login</td>
						<td>Email</td>
						<td>Telephone</td>
						<td>Profile</td>
						<td>Office</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="usr in admin.users">
						<td>{{usr.lastname}}</td>
						<td>{{usr.firstname}}</td>
						<td>{{usr.login}}</td>
						<td>{{usr.email}}</td>
						<td>{{usr.phone}}</td>
						<td>{{usr.profile}}</td>
						<td>{{usr.office}}</td>
					</tr>
				</tbody>
			</table>
			<div class="categ-header">
				<h3>Utilisateurs en attente</h3>
				<i class="fa fa-chevron-down" ng-click="ui.admin.usersWaitingCollapsed = !ui.admin.usersWaitingCollapsed"></i>
			</div>
			<table ng-show="!ui.admin.usersWaitingCollapsed">
				<thead>
					<tr>
						<td>Nom</td>
						<td>Prenom</td>
						<td>Email</td>
						<td>Telephone</td>
						<td>Profile</td>
						<td>Valider</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="usr in admin.waiting">
						<td>{{usr.lastname}}</td>
						<td>{{usr.firstname}}</td>
						<td>{{usr.email}}</td>
						<td>{{usr.phone}}</td>
						<td>{{usr.profile}}</td>
						<td><i ng-click="adminValidate({{usr.id}})" class="fa fa-check"></i></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="gestion">
		<a ng-href="{{(userConnected == 1) && '#/logout' || '#/login'}}">
				<span ng-if="userConnected == true">Déconnexion</span>
				<span ng-if="userConnected == false">Connexion</span>
		</a>
		<a ng-href="{{(userConnected == 1) && '#/user' || '#/inscription'}}">
				<span ng-if="userConnected == true">Gestion</span>
				<span ng-if="userConnected == false">Inscription</span>
		</a>
	</div>
</div>