<div ng-controller="useradminController" class="row">
	<div ng-if="!user.isLogged">
        <p>Vous n'ètes pas connecté. <a href="#/login">Connectez vous</a>.</p>
    </div>

    <div ng-if="user.isLogged">
        <h1 class="page-name">{{user.firstname}} {{user.lastname}}</h1>

	<div class="large-12 columns valid-user">
		<div class="row user">
			<div class="large-6 columns">
				<h5>Email : </h5>
				<p>{{user.email}}</p>
				<h5>Téléphone : </h5>
				<p>{{user.phone}}
			</div>
			<div class="large-6 columns">
				<h5>Fonction : </h5>
				<p>{{user.role.text}}</p>
				<h5>Cabinet : </h5>
				<p>{{user.office.text}}</p>
			</div>
		</div>
	</div>

	<div class="responsable-office-user-list user-section" ng-if="user.hasOffice">
			<div class="categ-header">
				<h3>Patients du cabinet <i class="fa fa-chevron-down" ng-click="ui.office.patientsCollapsed = !ui.office.patientsCollapsed"></i></h3>
			</div>
			<table ng-show="!ui.office.patientsCollapsed">
				<thead>
					<tr>
						<td>Nom</td>
						<td>Prenom</td>
						<td>Email</td>
						<td>Telephone</td>
						<td>Date de naissance</td>
						<td>Adresse</td>
						<td>N° INSEE</td>
						<td>INR Cible</td>
						<td>Traitement</td>
						<td>INR Modifié ?</td>
						<td>Modifier</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="usr in office.patients">
						<td>{{usr.lastname}}</td>
						<td>{{usr.firstname}}</td>
						<td>{{usr.email}}</td>
						<td>{{usr.phone}}</td>
						<td>{{usr.address}}</td>
						<td>{{usr.insee}}</td>
						<td>{{usr.targetinr}}</td>
						<td>{{usr.treatment}}</td>
						<td>{{usr.specialinr}}</td>
						<td><a href="#/edituser/{{usr.id}}"><i class="fa fa-edit"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>

	<a href="#/changeoffice" ng-if="!user.isAdmin">Changer de cabinet</a>
	<div class="responsable-office-user-list" ng-if="(user.isResponsable && !user.hasOffice) || user.isAdmin">
			<div class="categ-header">
				<h3>Créér un cabinet</h3>
			</div>
			<form ng-submit="createOffice()">
				<div class="row">
					<div class="large-2 columns">
						<label class="right inline">Nom du cabinet</label>
					</div>
					<div class="large-10 columns">
						<input type="text" placeholder="Nom du cabinet" ng-model="officeInfo.name"></input>
					</div>
				</div>

				<div class="row">
					<div class="large-2 columns">
						<label class="right inline">Adresse du cabinet</label>
					</div>
					<div class="large-10 columns">
						<input type="text" placeholder="Adresse" ng-model="officeInfo.address"></input>
					</div>
				</div>

				<div class="row">
					<div class="large-2 columns">
						<label class="right inline">Téléphone</label>
					</div>
					<div class="large-10 columns">
						<input type="text" placeholder="Téléphone" ng-model="officeInfo.phone"></input>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
					<p class="error">{{officeError}}</p>
					</div>
				</div>

				<div class="row">
					<button class="button" type="submit">Créér</button>
				</div>
			</form>
		</div>

	<div class="responsable user-section" ng-if="user.isResponsable">
		<div class="responsable-create-patient">
			<a href="#/createpatient">Créér un patient</a>
			<a href="#/pickpatient">Ajouter un patient au cabinet</a>
		</div>
		<div class="responsable-office-user-list user-section">
			<div class="categ-header">
				<h3>Membres du cabinet <i class="fa fa-chevron-down" ng-click="ui.office.usersCollapsed = !ui.office.usersCollapsed"></i></h3>
			</div>
			<table ng-show="!ui.office.usersCollapsed">
				<thead>
					<tr>
						<td>Nom</td>
						<td>Prenom</td>
						<td>Email</td>
						<td>Telephone</td>
						<td>Profile</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="usr in office.users">
						<td>{{usr.lastname}}</td>
						<td>{{usr.firstname}}</td>
						<td>{{usr.email}}</td>
						<td>{{usr.phone}}</td>
						<td>{{usr.profile}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="responsable-office-user-list">
			<div class="categ-header">
				<h3>Utilisateurs en attente <i class="fa fa-chevron-down" ng-click="ui.office.usersWaitingCollapsed = !ui.office.usersWaitingCollapsed"></i></h3>
			</div>
			<table ng-show="!ui.office.usersWaitingCollapsed">
				<thead>
					<tr>
						<td>Nom</td>
						<td>Prenom</td>
						<td>Email</td>
						<td>Telephone</td>
						<td>Profile</td>
						<td>Valider</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="usr in office.waiting">
						<td>{{usr.lastname}}</td>
						<td>{{usr.firstname}}</td>
						<td>{{usr.email}}</td>
						<td>{{usr.phone}}</td>
						<td>{{usr.profile}}</td>
						<td><i ng-click="officeAccept()" class="fa fa-check"></i></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="admin" ng-if="user.isAdmin">
		<div class="admin-user-list">
			<div class="categ-header">
				<h3>Utilisateurs <i class="fa fa-chevron-down" ng-click="ui.admin.usersCollapsed = !ui.admin.usersCollapsed"></i></h3>

			</div>
			<table ng-show="!ui.admin.usersCollapsed">
				<thead>
					<tr>
						<td>Nom</td>
						<td>Prenom</td>
						<td>Login</td>
						<td>Email</td>
						<td>Telephone</td>
						<td>Profile</td>
						<td>Office</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="usr in admin.users">
						<td>{{usr.lastname}}</td>
						<td>{{usr.firstname}}</td>
						<td>{{usr.login}}</td>
						<td>{{usr.email}}</td>
						<td>{{usr.phone}}</td>
						<td>{{usr.profile}}</td>
						<td>{{usr.office}}</td>
					</tr>
				</tbody>
			</table>
			<div class="categ-header">
				<h3>Utilisateurs à valider</h3>
				<i class="fa fa-chevron-down" ng-click="ui.admin.usersWaitingCollapsed = !ui.admin.usersWaitingCollapsed"></i>
			</div>
			<table ng-show="!ui.admin.usersWaitingCollapsed">
				<thead>
					<tr>
						<td>Nom</td>
						<td>Prenom</td>
						<td>Email</td>
						<td>Telephone</td>
						<td>Profile</td>
						<td>Valider</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="usr in admin.waiting">
						<td>{{usr.lastname}}</td>
						<td>{{usr.firstname}}</td>
						<td>{{usr.email}}</td>
						<td>{{usr.phone}}</td>
						<td>{{usr.profile}}</td>
						<td><i ng-click="adminValidate(usr.id)" class="fa fa-check"></i></td>
					</tr>
				</tbody>
			</table>
			<div class="categ-header">
				<h3>Cabinets <i class="fa fa-chevron-down" ng-click="ui.admin.officesCollapsed = !ui.admin.officesCollapsed"></i></h3>

			</div>
			<table ng-show="!ui.admin.officesCollapsed">
				<thead>
					<tr>
						<td>Nom</td>
						<td>Adresse</td>
						<td>Téléphone</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="off in admin.offices">
						<td>{{off.name}}</td>
						<td>{{off.address}}</td>
						<td>{{off.phone}}</td>
					</tr>
				</tbody>
			</table>
			<div class="categ-header">
				<h3>Cabinets à valider <i class="fa fa-chevron-down" ng-click="ui.admin.officesValidateCollapsed = !ui.admin.officesValidateCollapsed"></i></h3>

			</div>
			<table ng-show="!ui.admin.officesValidateCollapsed">
				<thead>
					<tr>
						<td>Nom</td>
						<td>Adresse</td>
						<td>Téléphone</td>
						<td>Valider ?</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="off in admin.officesWaiting">
						<td>{{off.name}}</td>
						<td>{{off.address}}</td>
						<td>{{off.phone}}</td>
						<td><span ng-click="officeValidate(off.id)"><i class="fa fa-check"></i></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="gestion">
		<a ng-href="{{(userConnected == 1) && '#/logout' || '#/login'}}">
				<span ng-if="userConnected == true">Déconnexion</span>
				<span ng-if="userConnected == false">Connexion</span>
		</a>
		<a ng-href="{{(userConnected == 1) && '#/user' || '#/inscription'}}">
				<span ng-if="userConnected == true">Gestion</span>
				<span ng-if="userConnected == false">Inscription</span>
		</a>
	</div>
    </div>
</div>